/* Footer container */
footer {
    background-color: #f8f8f8;
    padding: 20px 0;
  }
  
  /* Social media icons list */
  .social-media-icons {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .social-media-icons li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .social-media-icons li:last-child {
    margin-right: 0;
  }
  
  .social-media-icons a {
    color: #333;
    font-size: 20px;
  }
  
  .copyright {
    font-size: 14px;
    color: #999;
    text-align: center;
    margin-top: 20px;
  }
  /* Copyright text */
  footer p {
    color: #999;
    font-size: 14px;
    margin: 10px 0 0;
  }
  